[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
colorlog = "*"
aiohttp = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"

[packages.chia-blockchain]
git = "git://github.com/Chia-Network/chia-blockchain.git"
ref = "main"
