[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
colorlog = "*"
aiohttp = "*"
aiosqlite = "*"
SQLAlchemy = "*"
alembic = "*"
apprise = "*"
chia-blockchain = { git = "https://github.com/Chia-Network/chia-blockchain.git", ref = "1.2.0" }

[dev-packages]
pytest = "*"
yapf = "*"

[requires]
python_version = "3"
