[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
colorlog = "*"
aiohttp = "*"
aiosqlite = "*"
SQLAlchemy = "*"
alembic = "*"
apprise = "*"
chia-blockchain = "*"

[dev-packages]
pytest = "*"
yapf = "*"

[requires]
python_version = "3"
