aiohttp==3.7.4
aiosqlite==0.17.0
alembic==1.6.5
apprise==0.9.3
argon2-cffi==20.1.0
async-timeout==3.0.1
attrs==21.2.0
bitstring==3.1.7
blspy==1.0.2
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
chia-blockchain @ git+git://github.com/Chia-Network/chia-blockchain.git@b2ec0f7ae786882ab7c32060f0375f74e87e9f3f
chiabip158==1.0
chiapos==1.0.3
chiavdf==1.0.2
click==7.1.2
clvm==0.9.7
clvm-rs==0.1.8
clvm-tools==0.4.3
colorlog==5.0.1
concurrent-log-handler==0.9.19
cryptography==3.4.7
dnspython==2.1.0
greenlet==1.1.0
idna==2.10
importlib-metadata==4.6.1
keyring==23.0.1
keyrings.cryptfile==1.3.4
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
multidict==5.1.0
oauthlib==3.1.1
portalocker==2.3.0
prometheus-client==0.11.0
pybind11==2.6.2
pycparser==2.20
pycryptodome==3.10.1
python-dateutil==2.8.1
python-editor==1.0.4
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
setproctitle==1.2.2
six==1.16.0
sortedcontainers==2.3.0
SQLAlchemy==1.4.20
typing-extensions==3.10.0.0
urllib3==1.26.6
websockets==8.1
yarl==1.6.3
zipp==3.5.0
